@charset "utf-8";
/**
 * solarsailer — by Matthieu Oger
 *
 * -------------------------
 * link: solarsailer.net
 * rss: solarsailer.net/rss
 * feed: @solarsailerfeed
 * contact: @yiashen
 * -------------------------
 *
 * Everything is handmade, except the Entypo icons and the Open Sans font.
 *
 * The rules must follow a strict order :
 * - display
 * - position
 * - margin/padding
 * - width/height
 * - background/border
 * - color/font/text/letter
 * - transition
 * - media queries
 */

@import "mixins";

// -------------------------------------------------------
// Global
// -------------------------------------------------------

// Breakpoints
// See :

// Palm (0 <-> 480)
$palm-end: 480px;

// Lap (481 <-> 1023)
$lap-start:481px;
$lap-end: 1023px;

// Desk (1024 <-> ∞)
$desk-start: 1024px;

// ---------------------
// Colors
// ---------------------

$text-color: #333;
$brand-color: #98c73d;
$light-grey: #c2c3d1;
$dark-grey: darken($light-grey, 20%);

// ---------------------
// Constants
// ---------------------

$MAX: 1000px;

// ---------------------
// Root
// ---------------------

// Basic typography and background
body {
  margin: 0;
  padding: 0;

  background: url("/static/images/background.png") #ededed;

  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

// Global margin
.page {
  margin: 10px 20px;
}

// Change the selection to white on green
.page *::-moz-selection {
  background: $brand-color;
  color: white;
}

// Change the selection to white on green
.page *::selection {
  background: $brand-color;
  color: white;
}

// -------------------------------------------------------
// Components
// -------------------------------------------------------

@mixin post-link {
  border-bottom: 1px solid transparent;

  color: darken($brand-color, 5%);
  text-decoration: none;

  @include transition(border-color, .5s);

  // show a light border below the title
  &:hover {
    border-bottom: 1px solid lighten($brand-color, 5%);
  }
}

@mixin brand-link {
  color: darken($brand-color, 5%);

  &:hover {
    color: darken($brand-color, 10%);
  }

  &:active,
  &:focus {
    color: $brand-color;
  }
}

@mixin grey-link {
  color: $dark-grey;

  &:hover {
    color: #3e3e3e;
  }

  &:active,
  &:focus {
    color: $light-grey;
  }
}

// ---------------------
// page-header
// ---------------------

// Position relative to position the twitter icon
.page-header {
  position: relative;
  height: 150px;

  @media only screen and (min-width: $desk-start) {
    margin: 0 auto;
    max-width: $MAX;
  }
}

// Icon container
.page-header__nav {
  position: absolute;
  margin: 10px 0;
  padding: 0;
  top: 0;
  right: 0;
  list-style: none;
}

// Icon link
.page-header__nav a {
  display: block;
  text-indent: -9999px;

  // Optimized for retina - the icon is 80x80 in reality
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
}

// Style the .twitter class with the correct icon
.page-header__nav.twitter a {
  background-image: url("/static/images/icon-twitter@2x.png");
}

// ---------------------
// site-title
// ---------------------

// Reset
.site-title__main,
.site-title__current {
  margin: 0;
}

// Bigger font and a neutral color for the home link
.site-title__main {
  font-size: 2.5em;

  a {
    color: $text-color;
    text-decoration: none;
  }
}

// Subtitle - light grey and underline on hover
.site-title__current {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;

  a {
    color: darken($light-grey, 10%);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// ---------------------
// article
// ---------------------

// Separate each article by a 70px margin
.article {
  margin-bottom: 70px;
}

// Reset article title
.article__title,
.article__infos {
  margin: 0;
}

// Style the title link with a transitionned border
.article__title {
  font-size: 1.2em;
  font-weight: normal;

  a {
    @include post-link;
  }
}

.article__infos {
  color: darken($light-grey, 5%);
  font-size: 0.8em;
  font-weight: normal;

  @media only screen and (max-width:$lap-end) {
    margin-top: 4px;
  }
}

// Titles
.article__text {
  h1, h2, h3 {
    margin-top: 40px;
  }

  h1 {
    border-bottom: 1px solid $dark-grey;
    font-size: 1.1em;
  }

  h2 {
    border-bottom: 1px dotted $dark-grey;
    font-size: 1.1em;
    font-weight: normal;
  }

  h3 {
    color: $dark-grey;
    font-size: 1.1em;
    font-weight: normal;
  }
}

// Blockquote styling - add a « before and a » after
.article__text
  blockquote {
  position: relative;
  margin: 16px 0;
  padding: 1px 60px;

  color: #686868;
  font-style: italic;

  &:before,
  &:after {
    position: absolute;
    color: #b9b9b9;
    font-family: Georgia, serif;
    font-size: 1.8em;
  }

  &:before {
    content: "«";
    left: 30px;
  }

  &:after {
    content: "»";
    right: 30px;
    bottom: 0;
  }
}

// Lists
.article__text {
  ul, ol {
    padding: 0;

    li {
      margin-left: 40px;
    }
  }
}

// Links
.article__text {
  a {
    @include brand-link;
  }
}

// Images
.article__text
  img {
  display: block;
  margin: 30px auto;
  max-width: 100%;
  border: 1px solid #d5d5d5;
}

// Inline code
.article__text {
  p
    code {
    padding: 0 5px;
    background-color: #d7d7d7;
    font-family: Menlo, Monaco, "Andale Mono", "Lucida Console", "Courier New", monospace !important;
  }
}

// Block code
.article__text
  .highlight {
  /* Full page size (unlimited + remove margins) */
  margin-left: -20px;
  margin-right: -20px;
  padding: 16px 20px;

  overflow: auto;

  background-color: #1d1f21;
  color: #c5c8c6;

  code {
    font-family: Menlo
               , Monaco
               , "Andale Mono"
               , "Lucida Console"
               , "Courier New"
               , monospace
               !important;
  }
}

.article__text
  .twitter-tweet {
  margin: 0 auto !important;
}

// Tweaks for desktop-sized window
@media only screen and (min-width:$desk-start) {

  // Move the date to the right of title, instead of below
  .article__title,
  .article__infos {
    display: inline-block;
    vertical-align: baseline;
  }

  // Because the date is now aligned with the title, we add a
  // small padding between them
  .article__title {
    padding-right: 10px;
  }

  /* Limit the size on large device
   * We cannot simply set the size on the global div
   * because we want to let the .highlight object takes
   * the full size of the page.
   */

  // For header
  .article__header
  {
    margin: 0 auto;
    max-width: $MAX;
  }

  // For direct paragraphes
  .article__text > p,
  .article__text > ul,
  .article__text > ol {
    margin: 16px auto;
    max-width: $MAX;
  }

  .article__text > blockquote {
    margin: 16px auto;
    max-width: $MAX - 200px;
  }

  .article__text {
    > h1,
    > h2,
    > h3 {
      margin-left: auto;
      margin-right: auto;
      max-width: $MAX;
    }
  }

  // For code
  .article__text .highlight pre {
    margin: 0 auto;
    max-width: $MAX;
  }
}

// ---------------------
// pager
// ---------------------

.pager {
  padding-bottom: 70px;
  text-align: center;

  @media only screen and (min-width: $desk-start) {
    margin: 0 auto;
    max-width: $MAX;
  }
}

.pager__older,
.pager__newer,
.pager__archives {
  @include grey-link;
}

.pager__older {
  margin-right: 10%;
}

.pager__newer {
  margin-left: 10%;
}

// ---------------------
// page-footer
// ---------------------

.archives {
  list-style: none;
  margin-bottom: 70px !important;
  padding: 0;

  @media only screen and (min-width: $desk-start) {
    margin: 0 auto;
    max-width: $MAX;
  }
}

.archive {
  margin-bottom: 30px;
}

.archive__date {
  display: table-cell;
  padding-right: 20px;
  width: 45px;

  color: darken($light-grey, 5%);
  text-align: right;
  vertical-align: top;
}

.archive__link {
  display: table-cell;
  font-size: 1.2em;

  a { @include post-link; }
}

// ---------------------
// page-footer
// ---------------------

// Light-grey
.page-footer {
  margin-top: 100px;

  color: $dark-grey;
  font-size: 0.9em;

  @media only screen and (min-width: $desk-start) {
    margin: 0 auto;
    max-width: $MAX;
  }

  a {
    @include grey-link;
  }
}
