<!-- start page header -->
<header class="page-header">

  <section class="site-title">
    <h1 class="site-title__main">
      <a href="">{{ site.name }}</a>
    </h1>
    <h2 class="site-title__current">— by Matthieu Oger</h2>
  </section>

  <ul class="site-nav">
    <li class="site-nav__icon about"   id="meta-about">About</li>
    <li class="site-nav__icon twitter" id="meta-twitter">Twitter</li>
    <li class="site-nav__icon search"  id="meta-search">Search</li>
  </ul>

</header>
<!-- end page header -->
