<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }} — solar sailer</title>

<!-- rss -->
<link rel="alternate" type="application/atom+xml" title="solar sailer — by Matthieu Oger" href="/atom.xml" />

<!-- css -->
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' />
<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/static/css/solarsailer.css" />
