<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }} — solar sailer</title>

<!-- misc -->
<link rel="shortcut icon" href="/static/images/favicon.ico?v=0001" />
<link rel="alternate" type="application/atom+xml" title="Solar Sailer" href="http://feedpress.me/solarsailer" />

<!-- css -->
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' />
<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/static/css/solarsailer.css" />

<!-- apple -->
<link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon-precomposed.png" />
<link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon-72x72-precomposed.png" sizes="72x72" />
<link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon-114x114-precomposed.png" sizes="114x114" />
<link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon-144x144-precomposed.png" sizes="144x144" />

<!-- description -->
<meta name="author" content="Matthieu Oger">
<meta name="description" content="Solar Sailer — a collection of thoughts and opinions by Matthieu Oger.">
<meta name="keywords" content="solar, sailer, matthieu, oger, technology, design, development, dev" />

<!-- g+ -->
<link rel="publisher" href="https://plus.google.com/112506358980275406815">

<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@yiashen">
<meta name="twitter:creator" content="@yiashen">
<meta name="twitter:description" content="Solar Sailer — a collection of thoughts and opinions by Matthieu Oger.">
