<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{% if page.url == '/index.html' %}
<title>Solar Sailer</title>
{% else %}
<title>{{ page.title }} — solar sailer</title>
{% endif %}

<!-- Misc. -->
<link rel="shortcut icon" href="/static/images/favicon.ico?v=0001" />
<link rel="alternate" type="application/atom+xml" title="Solar Sailer" href="http://feedpress.me/solarsailer" />

<!-- Description. -->
<meta name="author" content="Matthieu Oger" />
<meta name="description" content="Solar Sailer — a collection of thoughts and opinions by Matthieu Oger." />
<meta name="keywords" content="solar, sailer, matthieu, oger, technology, design, development, dev" />

<!-- Social. -->
<link rel="author" href="http://solarsailer.net/about" />

<!-- Twitter. -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@solarsailer" />
<meta name="twitter:creator" content="@solarsailer" />
<meta name="twitter:description" content="Solar Sailer — a collection of thoughts and opinions by Matthieu Oger." />
