<!-- start pagination -->
<div class="pager">
  <hr />

  <p>

    <!-- start newer -->
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/" class="pager__newer">← Previous Page</a>
      {% else %}
        <a href="/page-{{ paginator.previous_page }}" class="pager__newer">← Previous Page</a>
      {% endif %}
    {% endif %}
    <!-- end newer -->

    <!-- start archives -->
    <a href="/archives" title="Archives" class="pager__archives">Archives</a>
    <!-- end archives -->

    <!-- start older -->
    {% if paginator.next_page %}
      <a href="/page-{{ paginator.next_page }}" class="pager__older">Next Page →</a>
    {% endif %}
    <!-- end older -->

  </p>
</div>
<!-- end pagination -->
