@charset "utf-8";
/**
 * solarsailer — by Matthieu Oger
 *
 * -------------------------
 * link: solarsailer.net
 * rss: solarsailer.net/rss
 * feed: @solarsailerfeed
 * contact: @yiashen
 * -------------------------
 *
 * Everything is handmade, except the Entypo icons and the Open Sans font.
 *
 * The rules must follow a strict order :
 * - display
 * - position
 * - margin/padding
 * - width/height
 * - background/border
 * - color/font/text/letter
 * - transition
 * - media queries
 */
/**
 * solarsailer — by Matthieu Oger
 */
body {
  margin: 0;
  padding: 0;
  background: url("/static/images/background.png") #ededed;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%; }

.page {
  margin: 10px 20px; }

.page *::-moz-selection {
  background: #98c73d;
  color: white; }

.page *::selection {
  background: #98c73d;
  color: white; }

.page-header {
  position: relative;
  height: 150px; }
  @media only screen and (min-width: 1024px) {
    .page-header {
      margin: 0 auto;
      max-width: 1000px; } }

.page-header__nav {
  position: absolute;
  margin: 10px 0;
  padding: 0;
  top: 0;
  right: 0;
  list-style: none; }

.page-header__nav a {
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
  cursor: pointer; }

.page-header__nav.twitter a {
  background-image: url("/static/images/icon-twitter@2x.png"); }

.site-title__main,
.site-title__current {
  margin: 0; }

.site-title__main {
  font-size: 2.5em; }
  .site-title__main a {
    color: #333333;
    text-decoration: none; }

.site-title__current {
  font-size: 1em;
  font-weight: normal;
  font-style: italic; }
  .site-title__current a {
    color: #a5a6bb;
    text-decoration: none; }
    .site-title__current a:hover {
      text-decoration: underline; }

.article {
  margin-bottom: 70px; }

.article__title,
.article__infos {
  margin: 0; }

.article__title a {
  border-bottom: 1px solid transparent;
  color: #98c73d;
  text-decoration: none;
  -webkit-transition: border-color 0.5s ease;
  -moz-transition: border-color 0.5s ease;
  -ms-transition: border-color 0.5s ease;
  -o-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease; }
  .article__title a:hover {
    border-bottom: 1px solid #add265; }

.article__infos {
  color: #c2c3d1;
  font-size: 0.8em;
  font-weight: normal; }
  @media only screen and (max-width: 1023px) {
    .article__infos {
      margin-top: 4px; } }

.article__text
blockquote {
  position: relative;
  margin: 16px 0;
  padding: 0 30px;
  color: #686868;
  font-style: italic; }
  .article__text
  blockquote:before, .article__text
  blockquote:after {
    position: absolute;
    color: #b9b9b9;
    font-family: Georgia, serif;
    font-size: 1.8em; }
  .article__text
  blockquote:before {
    content: "«";
    left: 0; }
  .article__text
  blockquote:after {
    content: "»";
    right: 0;
    bottom: 0; }

.article__text ul, .article__text ol {
  padding: 0; }
  .article__text ul li, .article__text ol li {
    margin-left: 40px; }

.article__text a {
  color: #7ba22f; }
  .article__text a:hover {
    color: #5d7b23; }
  .article__text a:active, .article__text a:focus {
    color: #98c73d; }

.article__text
img {
  display: block;
  margin: 30px auto;
  max-width: 100%;
  border: 1px solid #d5d5d5; }

.article__text p
code {
  padding: 0 5px;
  background-color: #d7d7d7;
  font-family: Menlo, Monaco, "Andale Mono", "Lucida Console", "Courier New", monospace !important; }

.article__text
.highlight {
  /* Full page size (unlimited + remove margins) */
  margin-left: -20px;
  margin-right: -20px;
  padding: 16px 20px;
  overflow: auto;
  background-color: #1d1f21;
  color: #c5c8c6; }
  .article__text
  .highlight code {
    font-family: Menlo , Monaco , "Andale Mono" , "Lucida Console" , "Courier New" , monospace !important; }

@media only screen and (min-width: 1024px) {
  .article__title,
  .article__infos {
    display: inline-block;
    vertical-align: baseline; }

  .article__title {
    padding-right: 10px; }

  /* Limit the size on large device */ }
@media only screen and (min-width: 1024px) and (min-width: 1024px) {
  .article__header {
    margin: 0 auto;
    max-width: 1000px; } }

@media only screen and (min-width: 1024px) and (min-width: 1024px) {
  .article__text > p,
  .article__text > blockquote,
  .article__text > ul,
  .article__text > ol {
    margin: 16px auto;
    max-width: 1000px; } }

@media only screen and (min-width: 1024px) and (min-width: 1024px) {
  .article__text .highlight pre {
    margin: 0 auto;
    max-width: 1000px; } }

.page-footer {
  margin-top: 100px;
  color: #888aa5;
  font-size: 0.9em; }
  @media only screen and (min-width: 1024px) {
    .page-footer {
      margin: 0 auto;
      max-width: 1000px; } }
