<!doctype html>
<html lang="en" {{ block "html" . }}{{ end }}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>

    {{ partial "meta.html" . }}
    {{ partial "css.html" . }}
  </head>
  <body>
    <div class="page" id="page">
      {{ block "header" . }}
        {{ partial "header.html" . }}
      {{ end }}


      <main class="page-content" id="page_content" role="main">
        {{ block "main" . }}
          <div class="page-content__constraints">
            {{ block "content" . }}{{ end }}
          </div>
        {{ end }}
      </main>

      {{ block "footer" . }}
        {{ partial "footer.html" . }}
      {{ end }}
    </div>

    {{ partial "js.html" . }}
  </body>
</html>
