@charset "utf-8";

// -------------------------------------------------------
// Variables
// -------------------------------------------------------

$MAX: 700px;

// -------------------------------------------------------
// Global
// -------------------------------------------------------

// Desk (1024 <-> ∞)
$desk-start: $MAX;

// ---------------------
// Colors
// ---------------------

$text-color: #333;
$brand-color: #98c73d;
$light-grey: #c2c3d1;
$dark-grey: darken($light-grey, 20%);
