{% assign paginator_page = "/articles/"         %}
{% assign list_page      = "/articles/archive/" %}

<div class="paginator">
  <section class="paginator__previous">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        {% capture url %}{{ paginator_page }}{% endcapture %}
      {% else %}
        {% capture url %}{{ paginator_page }}{{ paginator.previous_page }}/{% endcapture %}
      {% endif %}

      <a class="paginator__link" href="{{ url }}">
        Previous
      </a>
    {% else %}
      Start
    {% endif %}
  </section>

  {% if list_page %}
    <section class="paginator__list">
      <a class="paginator__link" href="{{ list_page }}">
        Archive
      </a>
    </section>
  {% endif %}

  <section class="paginator__next">
    {% if paginator.next_page %}
      <a class="paginator__link" href="{{ paginator_page }}{{ paginator.next_page }}/">
        Next
      </a>
    {% else %}
      End
    {% endif %}
  </section>
</div>
