@charset "UTF-8";

/* ---------------------------------------------------------- *\
 * Variables.
\* ---------------------------------------------------------- */

$brand-color: rgb(152, 199, 61);

// Font.
$font-color: rgb(42, 42, 42);
$font-size: 1.5em;
