@charset "utf-8";

// -------------------------------------------------------
// Global.
// -------------------------------------------------------

$MAX: 600px;

// Desk (1024 <-> ∞)
$desk-start: $MAX;

// -------------------------------------------------------
// Colors.
// -------------------------------------------------------

$text-color: #333;
$text-light-color: #787878;
$brand-color: #98c73d;
$light-grey: #c2c3d1;
$dark-grey: darken($light-grey, 20%);
